// Cores da interface
$gray-darker: #444;
$gray: #938F8D;
$orange: #F8981D;
$yellow: #F09F04;
$smoke: #ECECEC;
$ice: #FAFAFA;
$blue: #2295D6;

// Forms
$red: #D80000;

// Buttons
$bt-color: $blue;
$bt-hover-color: #54B7EF;
$bt-active-color: #1A70A0;


// Breakpoints
$mobile: 640px;
$tablet: 768px;
$desktop: 1024px;

// Outros
$border-radius-base: 20px;
$bt-padding-horiz: 60px;
$control-height: 38px;
$input-border: 2px;
$input-padding-horiz: 15px;
$input-padding-vert: 6px;

$header-height: 60px;
